app/views/layouts/_navigation.html.haml
= link_to "Slik.IO", root_path, :class => 'brand'
%ul.nav
  - unless user_signed_in?
    %li
      / = link_to 'Log in', new_user_session_path, :method=>'delete'
      %a{href: "#/users/sign_in"} Sign in
  - if user_signed_in?
    %li
      %a{href: '#/my_account'} Account
      / = link_to 'Edit account', edit_user_registration_path
    %li 
      = link_to 'Dashboard', "#/dashboard"
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', users_path
  - else
    %li
      %a{href: "#/users/sign_up"} Sign Up
      / = link_to 'Sign up', new_user_registration_path
- if user_signed_in?
  %ul.nav.pull-right
    - if current_user.rewards.has_left
      %li.pull-right
        = link_to 'Bonuses', '#/bonuses'
    %li.topbar-text.pull-right
      = "Trial period ends in " + distance_of_time_in_words(Time.now, current_user.trial_ends_at)

    %li.pull-right
      / %i.icon-off
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
     

app/views/layouts/_navigation.html.erb
<ul class="nav">
  <li><a href="/" class="brand"><i class="icon-bar-chart"></i> Slik.IO</a></li>
</ul>
<ul class="nav">
  <% unless user_signed_in? %>
    <li>
      <a href="#/users/sign_in">Sign in</a>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
      <li>
        <%= link_to 'Admin', rails_admin_path %>
      </li>
    <% end %>
  <% else %>
    <li>
      <a href="#/users/sign_up">Sign Up</a>
    </li>
  <% end %>
</ul>
<% if user_signed_in? %>
  <ul class="nav pull-right user_tool">
    <li class="trial_title">
      Trial period ends in <%=distance_of_time_in_words(Time.now, current_user.trial_ends_at) %>
    </li>
    <li>
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >
          <span class="icon-stack">
            <i class="icon-sign-blank icon-stack-base"></i>
            <i class="icon-user icon-light"></i>
          </span>
          <%= current_user.first_name+" "+current_user.last_name %>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="#/my_account">Manage account</a></li>
          <li class="divider"></li>
           <li><%= link_to 'Get Bonuses', '#/bonuses' %></li>
           <li><%= link_to 'Give Us Feedback', "#/feedback" %></li>
          <li class="divider"></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete'%></li>
        </ul>
      </div>
    </li>
  </ul>
<% end %>
